<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>love.panmax.xlhy</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>54F0CCEE-3796-44C3-AC5E-A6DC0592B834</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D01DA81-D214-4F5A-A15E-C993417EB4CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Panmax</string>
	<key>description</key>
	<string>获取迅雷会员</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>获取迅雷会员</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>xlhy</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>获取最新数据中，请稍后...</string>
				<key>script</key>
				<string>from xlhy import get_xlhy

print(get_xlhy())</string>
				<key>title</key>
				<string>获取迅雷会员帐号</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>54F0CCEE-3796-44C3-AC5E-A6DC0592B834</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1D01DA81-D214-4F5A-A15E-C993417EB4CB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1D01DA81-D214-4F5A-A15E-C993417EB4CB</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>54F0CCEE-3796-44C3-AC5E-A6DC0592B834</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://panmax.love/</string>
</dict>
</plist>
